img{
    max-height: 20px;
    max-width: 20px;
}

.dati{
    border-radius: 30px;
    background: radial-gradient(circle, rgb(198, 250, 138) 0%, rgb(103, 245, 138) 38%);
}

span{
    background-color: rgb(4, 141, 38);
    text-align: center;
    margin-top: 10px;
    color: white;
}