<div class="menu col-4 mt-5">
    <button routerLink="/home"><b>Home</b></button>
    <hr class="col-12">
    <button [routerLink]="'/classifica/135'"><b>Standings</b></button>
    <hr class="col-12">
    <button [routerLink]="'/goalscorers/135'"><b>Goalscorer</b></button>
    <hr class="col-12">
    <button [routerLink]="'/topassists/135'"><b>Assistman</b></button>
    <hr class="col-12">
    <button [routerLink]="'/yellowcard/135'"><b>Yellow Card</b></button>
    <hr class="col-12">
    <span>Red Card</span>
    <hr class="col-12">
</div>
