<div class="menu col-3 mt-5">
    <button routerLink="/home"><b>Home</b></button>
    <hr>
    <button [routerLink]="'/classifica/' + idCampionato.id"><b>Standings</b></button>
    <hr>
    <button [routerLink]="'/goalscorers/'+ idCampionato.id"><b>Goalscorer</b></button>
    <hr>
    <button [routerLink]="'/topassists/'+ idCampionato.id"><b>Assistman</b></button>
    <hr>
    <button [routerLink]="'/yellowcard/'+ idCampionato.id"><b>Yellow Card</b></button>
    <hr>
    <button [routerLink]="'/redcard/'+ idCampionato.id"><b>Red Card</b></button>
    <hr>
</div>
